.reviewShowPd{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightslategray;
}
.reviewShowPd button{
    padding: 8px 50px;
    background-color: #ff9800;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}